* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONTS - TAKEN IN THE OFFICIAL MAKE DONALD'S WEBSITE */
@font-face {
    font-family: Speedee-Regular;
    src: url("../fonts/Speedee_A_Rg.783d9e1.ttf");
}

@font-face {
    font-family: Speedee-Bold;
    src: url("../fonts/Speedee_A_Bd.2be351e.ttf");
}


/* PAGE'S CONFIGS */
body {
    font-family: Speedee-Regular;
    overflow-x: hidden;
}


/*  HEADER ELEMENT'S CONFIGS */
header {
    position: fixed;
    width: 100%;
    box-shadow: 0em 0em 0.6em rgba(0, 0, 0, 0.13);
    background-color: white;
    z-index: 1000;
}

.header-org {
    padding: 0 10%;
    display: inline-flex;
}

.brand_logo {
    display: inline-flex;
    height: 100%;
}

.brand_logo a {
    margin-right: 10px;
}

.nav-externs-links {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-intern-links {
    display: inline-flex;
}

.nav-externs-links nav ul,
.nav-intern-links nav ul {
    list-style-type: none;
    display: flex;
}

.nav-externs-links nav ul li a {
    color: #606060;
    font-size: 14px;
    text-decoration: none;
    padding: .5rem .75rem;
    white-space: nowrap;
}

.nav-intern-links nav ul li a {
    color: #292929;
    font-size: 18px;
    text-decoration: none;
    padding: .5rem .75rem;
    white-space: nowrap;
}

.final-extern {
    display: inline-flex;
    align-items: center;
}

.app-links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #606060;
    font-size: 14px;
    padding: .5rem .75rem;
    white-space: nowrap;
}

.app-links a img {
    margin-right: 10px;
    max-height: 30px;
}

.order-button {
    padding: .5rem .75rem;
    padding-right: 0;
}

.order-button a img {
    max-height: 30px;
    margin-right: 10px;
}

.order-button a {
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .7);
    ;
    display: inline-flex;
    text-align: center;
    align-items: center;
    background-color: #ffbc0d;
    height: 48px;
    min-width: 114px;
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    white-space: nowrap;
}

.order-button a:hover {
    background-color: #c08b00;
}




/* MAIN ELEMENT'S CONFIG */
.first-itens-shown {
    position: relative;
    padding-top: 100px;
}

.first-itens-shown img {
    width: 100%;
}

.img-text {
    position: absolute;
    right: 10%;
    color: #292929;
    text-align: right;
    top: 0;
    height: calc(100% - 100px);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.img-text h1 {
    font-family: Speedee-Bold;
    font-size: 54px;
    margin-bottom: 13px;
}

.img-text p {
    font-size: 16px;
    margin-bottom: 18px;
    color: #292929;
}

.img-text a {
    text-decoration: none;
    color: #292929;
    background-color: white;
    height: 48px;
    min-width: 114px;
    padding: 14px 30px;
    border-radius: 4px;
}


.novidades-config {
    width: 100%;
}

.novidades-layout {
    padding: 0 10%;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.news-mc {
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .07);
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 10px;
}

.news-div-img {
    display: block;
    width: 100%;
}


.news-div-img img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.news-div-text {
    padding: 30px;

}

.news-div-text h4 {
    font-size: 24px;
    font-family: Speedee-Bold;
}

.news-div-text p {
    font-size: 16px;
    color: #292929;
    margin-top: 10px;
    margin-bottom: 40px;
}

.news-div-text a {
    background-color: #ffbc0d;
    color: #292929;
    border: none;
    height: 48px;
    min-width: 114px;
    padding: 14px 30px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.news-div-text a:hover {
    background-color: #c08b00;
}

.text-link {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.funcionalidades {
    width: 100%;
}

.func-layout {
    padding: 0 10%;
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
}

.funct-div {
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .07);
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 10px;
}

.fun-content {
    padding: 20px;
}

.img-fun {
    display: block;
    width: 100%;
}
.img-fun img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.text-fun h4 {
    font-size: 24px;
    font-family: Speedee-Bold;
}

.text-fun p {
    font-size: 16px;
    color: #292929;
    margin-top: 10px;
    margin-bottom: 40px;
}

.fun-a {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.fun-a a{
    background-color: #ffbc0d;
    color: #292929;
    border: none;
    height: 48px;
    min-width: 114px;
    padding: 14px 30px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.fun-a a:hover {
    background-color:#c08b00;
}

/* FOOTER ELEMENTS'S CONFIG*/
footer {
    width: 100%;
}

.footer-header {
    background-color: #ffbc0d;
    padding: 0 10%;
}

.header-f-lyt {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-f {
    display: flex;  
    align-items: center;
}

.img-f img {
    margin-right: 30px;
}

.text-f {
    display: inline-flex;
    flex-direction: column;
}

.text-f p {
    color: #292929;
    font-size: 16px;
}

.text-f h2 {
    font-family: Speedee-bold;
    font-size: 36px;
    color: #292929;
}


.button-f a {
    background-color: white;
    text-decoration: none;
    color: #292929;
    padding: 14px 30px;
    white-space: nowrap;
    height: 48px;
    min-width: 114px;
    border-radius: 6px;
}



